:root {
    --azulMuyOscuro: #060d2f;
    --azulOscuro: #1e1e62;
    --azulMasClaro: #546ccf;
    --azulClaro: #97bbfe;
    --azulMuyClaro: #daeefe;
    --colorIconosFuente: #c8c8c8;
    --negro: #000;
    --blanco: #fff;
    --error: #d32f2f;
    --exito: #1ed12d;
    --border: #303f9f;
    --background: #f2f2f2;
    --fuenteQuicksand: 'Quicksand', sans-serif;
    --fuenteRoboto: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuenteRoboto);
    background-color: var(--blanco)
}

/*=================== ESTILOS PARA EL MENU ==============================*/

/*Buscador*/

#header_menu .barra .nav .content-search #icon-search {
    font-size: 20px;
    color: var(--blanco);
    cursor: pointer;
    margin-right: 10px;
    transition: all 300ms;
}

#header_menu .barra .nav .content-search #icon-search:hover,
.dark #header_menu .barra .nav .content-search #icon-search:hover {
    color: #46a2fd;
}

#menu .content-bar-search {
    position: fixed;
    /* top: 65px; */
    top: -10px;
    left: 0;
    width: 100%;
    height: 62px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    opacity: 0;
    transition: 500ms top linear;

    z-index: 10;
}

#menu .content-bar-search input[type="search"] {
    display: block;
    max-width: 1200px;
    width: 70%;
    padding: 10px 50px;
    font-size: 16px;
    margin: auto;
    outline: 0;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: 200ms border linear;
}

#menu .content-bar-search input[type="search"]:focus,
#menu .content-bar-search input[type="search"]:active {
    border: 2px solid var(--border);
}

#menu .content-bar-search #icono-buscar {
    position: absolute;
    top: 16px;
    line-height: 32px;
    left: 17%;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    color: #555;
}

#menu .content-bar-search #borrar-contenido {
    position: absolute;
    top: 16px;
    line-height: 32px;
    right: 17%;
    cursor: pointer;
    font-size: 18px;
    color: var(--error);
}

#menu .cover-ctn-search {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 127px;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9;
    transition: 500ms display linear, 500ms background-color linear;
}

/*Perfil*/

.imagen-persona {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.imagen-persona img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: top;
}

.info-persona {
    width: 250px;
    position: absolute;
    top: 90px;
    right: 4%;
    background-color: var(--blanco);
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}

.info-persona.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1.1);
    transition: 0.4s transform ease-out;
}

.info-persona h3 {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 10px 0px;
    font-weight: 600;
    color: #555;
}

.info-persona h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}

.info-persona::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 40px;
    width: 10px;
    height: 10px;
    background-color: var(--blanco);
    transform: rotate(45deg);
}

.info-persona ul li {
    font-size: 14px;
    list-style: none;
    padding: 10px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.info-persona ul li i {
    margin-right: 15px;
    opacity: 0.5;
    color: #cecece;
    transition: 0.3s opacity ease;
}

.info-persona ul li:hover i {
    opacity: 1;
}

.info-persona ul li a {
    text-decoration: none;
    color: var(--negro)
}

.info-persona ul li:hover a,
.dark .info-persona ul li:hover a {
    color: #ff5d94;
}

/*=================== CARD DE MOSTRAR ASPIRANTES =======================*/
.contenedor.card {
    margin-top: 100px;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.contenedor .contenedor-card {
    width: 320px;
    height: 400px;
    border-radius: 35px;
    margin-bottom: 30px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 3px gray;
}

.contenedor .contenedor-card .contenedor-card__header {
    width: 100%;
    background-color: var(--azulClaro);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.contenedor .contenedor-card .contenedor-card__padding {
    padding-top: 20px;
}

.contenedor .contenedor-card .contenedor-card__header .header-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid var(--border);
    border-right: 4px solid var(--azulMuyOscuro);
    border-top: 4px solid var(--azulOscuro);
    /* border-bottom: 4px solid var(--exito); */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor .contenedor-card .contenedor-card__header .header-img img {
    width: 90%;
    height: 90%;
}

.contenedor .contenedor-card .contenedor-card__header .header-name {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.contenedor .contenedor-card .contenedor-card__header .header-name h3 {
    color: #000;
    font-size: 18px;
    font-weight: 900;
}

.contenedor .contenedor-card .contenedor-card__header .header-name span {
    color: var(--azulOscuro);
    font-size: 14px;
    font-weight: 500;
}

.contenedor .contenedor-card .contenedor-card__body {
    width: 100%;
    padding: 30px;
    overflow-y: scroll;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border);
}

.contenedor .contenedor-card .contenedor-card__body p {
    width: 100%;
    font-size: 12px;
    color: #000;
    font-weight: 400;
    text-align: center;
}

.contenedor .contenedor-card .contenedor-card__footer {
    text-align: center;
    width: 100%;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
}

.contenedor .contenedor-card .contenedor-card__footer a {
    display: block;
    color: #000;
    width: 90px;
    height: 30px;
    line-height: 29px;
    border-radius: 20px;
    font-size: 15px;
    background: linear-gradient(to bottom, var(--azulMuyClaro), var(--azulMasClaro));
    text-decoration: none;
    font-weight: 600;
    transition: 400ms background ease, 0.1s box-shadow ease-in-out;
}

.contenedor .contenedor-card .contenedor-card__footer a:hover {
    background: var(--azulMuyClaro);
    box-shadow: 3px 0px 30px #a3a3a3
}

/*========================= ESTILOS PARA EL ASPIRANTE =============================*/

.contenedor-formulario {
    width: 90%;
    max-width: 800px;
    margin-top: 100px
}

.contenedor-formulario header .title-principal {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--azulMasClaro);
    font-family: var(--fuenteQuicksand);
}

.contenedor-formulario header .progress-bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px
}

.contenedor-formulario header .progress-bar .paso {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: all 0.4s linear
}

.contenedor-formulario header .progress-bar .paso p {
    font-size: 16px;
    color: var(--negro);
    font-weight: 700;
    margin-bottom: 12px;
    transition: all 0.4s linear
}

.contenedor-formulario header .progress-bar .paso p.active {
    color: var(--azulOscuro);
}

.contenedor-formulario header .progress-bar .paso .num {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--negro);
    position: relative;
    transition: all 0.4s linear
}

.contenedor-formulario header .progress-bar .paso .num.active {
    border: 2px solid var(--border);
}

.contenedor-formulario header .progress-bar .paso .num.active span {
    display: none
}

.contenedor-formulario header .progress-bar .paso .num span {
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
}

.contenedor-formulario header .progress-bar .paso .num::before,
.contenedor-formulario header .progress-bar .paso .num::after {
    content: "";
    background: var(--negro);
    position: absolute;
    width: 85px;
    height: 4px;
    top: 50%;
    left: 50px
}

.contenedor-formulario header .progress-bar .paso .num.active::after {
    animation: mov_Linea 0.4s linear forwards;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(var(--exito), var(--azulMasClaro));
}

.contenedor-formulario header .progress-bar .paso:last-child .num::before,
.contenedor-formulario header .progress-bar .paso:last-child .num::after {
    display: none
}

.contenedor-formulario header .progress-bar .paso .check {
    display: none;
    position: absolute;
    top: 50px;
    line-height: 30px;
    font-size: 16px;
    transition: all 0.4s linear
}

.contenedor-formulario header .progress-bar .paso .check.active {
    display: block;
    color: var(--exito);
}

.contenedor-formulario .wrap {
    width: 100%;
    overflow: hidden
}

.contenedor-formulario .wrap .form {
    display: flex;
    width: 400%
}

.contenedor-formulario .wrap .form .pagina {
    width: 25%;
    padding: 20px;
    transition: margin-left 0.4s linear
}

.contenedor-formulario .wrap .form .pagina .contenedor-form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 3px;
    background: var(--background);
    box-shadow: 0px 0px 10px gray;
    padding: 20px
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .title-form {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 23px;
    font-family: var(--fuenteQuicksand);
    font-weight: 700;
    text-shadow: 0px 0px 10px rgba(163, 163, 163, 0.4);
    background: none;
    margin: 20px 0
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo {
    position: relative;
    margin-bottom: 32px
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.w50 {
    width: 47%
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.w100 {
    display: block;
    width: 100%
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.w100#grupo-estado {
    margin-top: 89px;
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.w100#grupo-otro_puesto,
.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.w100#grupo-otro_idioma {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-otro_puesto #grupo-puesto-otro_puesto,
.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.w100#grupo-otro_idioma #grupo-puesto-otro_idioma {
    margin: 0;
    width: 17px;
    height: 17px;
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.w100#grupo-otro_puesto_interes {
    display: none;
    transition: 500ms display linear;
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.w100 textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 300px;
    font-family: var(--fuenteRoboto);
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo input,
.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo select,
.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo textarea {
    border: 3px solid transparent;
    font-size: 16px;
    outline: none;
    margin: 12px 0px;
    padding: 10px;
    width: 100%;
    font-size: 17px;
    transition: border 0.2s linear
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo input:focus,
.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo input:active,
.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo select:focus,
.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo select:active,
.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo textarea:focus,
.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo textarea:active {
    border: 3px solid var(--border);
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-idioma,
.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-habilidad {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-idioma .agrupar-estrellas,
.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-habilidad .agrupar-estrellas {
    width: 50%
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-idioma .estrellas,
.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-habilidad .estrellas {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-idioma .estrellas .puntuacion,
.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-habilidad .estrellas .puntuacion {
    color: var(--negro);
    font-size: 20px;
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-idioma .estrellas .puntuacion.active,
.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-habilidad .estrellas .puntuacion.active {
    color: orange
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-idioma .estrellas .input-radio,
.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-habilidad .estrellas .input-radio {
    display: none
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo .estado-input {
    position: absolute;
    top: 35px;
    right: 10px;
    line-height: 35px;
    font-size: 16px;
    opacity: 0
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo label {
    color: var(--negro);
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo .leyenda-input {
    font-size: 12px;
    display: none;
    font-weight: 700;
    color: var(--error);
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo .leyenda-input.active {
    display: block
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .add-puntuacion {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 35px;
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .add-puntuacion .boton_add_puntuacion {
    background: var(--azulMuyClaro);
    border: 2px solid var(--azulOscuro);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    padding: 8px;
    color: var(--azulMuyOscuro);
    font-size: 15px;
    font-weight: 200;
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .add-puntuacion .boton_add_puntuacion i {
    margin-right: 5px;
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo .contenedor-grupo__lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a3a3a3;
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 12px;
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo .contenedor-grupo__lista .contenedor-grupo__icono {
    font-size: 18px;
    cursor: pointer;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.btn-enviar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.btn-enviar .btns {
    width: 35%;
    height: 35px;
    line-height: 35px;
    border: none;
    outline: none;
    background-color: var(--azulMasClaro);
    font-weight: 900;
    margin: auto;
    text-align: center;
    cursor: pointer;
    color: var(--blanco);
    margin-bottom: 8px;
    border-radius: 5px;
    transition: 0.1s ease box-shadow;
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.btn-enviar .btns:hover,
.contenedor-formulario .wrap .form .pagina .contenedor-form .add-puntuacion .boton_add_puntuacion:hover {
    box-shadow: 3px 0px 30px #a3a3a3
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.btn-enviar .btns .icon-btn-atras {
    margin-right: 20px;
    color: var(--blanco);
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.btn-enviar .btns .icon-btn {
    margin-left: 20px;
    color: var(--blanco);
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.correcto .estado-input {
    color: var(--exito);
    opacity: 1
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.incorrecto label {
    color: var(--error);
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.incorrecto input {
    border: 3px solid var(--error);
}

.contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.incorrecto .estado-input {
    color: var(--error);
    opacity: 1
}

@keyframes mov_Linea {
    100% {
        transform: scaleX(1)
    }
}

.ql-toolbar.ql-snow {
    font-family: var(--fuenteRoboto);
    font-size: 20px;
    margin-top: 10px;
}

.ql-editor {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    background: var(--blanco);
}

/*==================================== REPONSIEVE DESIGN ===========================*/

@media screen and (max-width: 1110px) {

    #header_menu .barra .content-logo .logo-nombre,
    #header_menu .barra .content_logo_menu .logo-nombre {
        align-items: center;
    }

    #header_menu .barra .content-logo .logo-nombre h2,
    #header_menu .barra .content_logo_menu .logo-nombre h2 {
        font-size: 25px;
    }

    #header_menu .barra .content-logo .logo-nombre h2 span,
    #header_menu .barra .content_logo_menu .logo-nombre h2 span {
        font-size: 24px;
    }

    #header_menu .barra .nav {
        width: 67%;
    }
}

@media screen and (max-width: 950px) {
    #header_menu .barra .nav {
        width: 75%;
    }
}

@media screen and (max-width: 850px) {

    #header_menu .barra .content-logo #icono-reponsive,
    #header_menu .barra .content_logo_menu #icono-reponsive {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 17px;
        line-height: 32px;
    }

    #header_menu .barra .nav a,
    #header_menu .barra .content-logo #icono-regresar,
    #header_menu .barra .nav a,
    #header_menu .barra .content_logo_menu #icono-regresar {
        display: none;
    }

    #header_menu .barra .content-logo .logo-nombre h2,
    #header_menu .barra .content-logo .logo-nombre h2 span,
    #header_menu .barra .content_logo_menu .logo-nombre h2,
    #header_menu .barra .content_logo_menu .logo-nombre h2 span {
        display: none;
    }

    #header_menu .barra .nav .imagen-persona {
        right: 0px;
        width: 35px;
        height: 35px;
    }

    #header_menu .contenedor-responsive.active {
        display: block;
        transition: 500ms display linear;
    }

    #header_menu .barra .content-logo {
        width: 55%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #header_menu .barra .nav {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #header_menu .barra .content_logo_menu {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #header_menu .barra .nav_menu {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 820px) {

    .contenedor-formulario header .progress-bar .paso .num::before,
    .contenedor-formulario header .progress-bar .paso .num::after {
        content: "";
        background: var(--negro);
        position: absolute;
        width: 50px;
        height: 4px;
        left: 55px;
        top: 50%;
    }
}

@media screen and (max-width: 620px) {
    #header_menu .barra .nav {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #header_menu .barra .nav_menu {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contenedor-formulario {
        width: 95%;
    }

    .info-persona {
        top: 90px;
        right: 2%;
    }

    .contenedor-formulario header .progress-bar .paso p {
        font-size: 14px;
    }

    .contenedor-formulario header .progress-bar .paso .num::before,
    .contenedor-formulario header .progress-bar .paso .num::after {
        content: "";
        background: var(--negro);
        position: absolute;
        width: 40px;
        height: 4px;
        left: 40px;
        top: 50%;
    }

    .contenedor-formulario header .progress-bar .paso .check {
        top: 46px;
    }

    .contenedor-formulario .wrap .form .pagina .contenedor-form .title-form {
        font-size: 18px;
    }

    .contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.w50 {
        display: block;
        width: 100%
    }

    .contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.w100 {
        display: block;
        width: 100%
    }

    .contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-idioma .agrupar-estrellas,
    .contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-habilidad .agrupar-estrellas {
        width: 100%
    }

    .contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-idioma .estrellas,
    .contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-habilidad .estrellas {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #menu .content-bar-search #icono-buscar {
        position: absolute;
        top: 16px;
        line-height: 32px;
        left: 20%;
    }

    #menu .content-bar-search #borrar-contenido {
        position: absolute;
        top: 16px;
        line-height: 32px;
        right: 20%;
    }

}

@media screen and (max-width: 515px) {
    #header_menu .barra .content-logo {
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #header_menu .barra .nav {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #header_menu .barra .nav_menu {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 415px) {
    #header_menu .barra .content-logo {
        width: 35%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #header_menu .barra .nav {
        width: 35%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #header_menu .barra .nav_menu {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 350px) {
    .contenedor-formulario {
        width: 100%;
    }

    .info-persona {
        top: 90px;
        right: 4%;
    }

    .contenedor-formulario header .progress-bar .paso .num::before,
    .contenedor-formulario header .progress-bar .paso .num::after {
        content: "";
        background: var(--negro);
        position: absolute;
        width: 25px;
        height: 4px;
        left: 30px;
        top: 50%;
    }

    .contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.btn-enviar {
        display: block;
    }

    .contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.btn-enviar .btns {
        width: 100%
    }

    .contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.btn-enviar .btns .icon-btn-atras {
        margin-right: 10px;
        color: var(--blanco);
    }

    .contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo.btn-enviar .btns .icon-btn {
        margin-left: 10px;
        color: var(--blanco);
    }
}

/*========================= ESTILOS PARA EL PERFIL ==========================*/

.contenedor-perfil_aspirante {
    margin-top: 70px;
    background-color: #fff;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: #BA68C8;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.button {
    display: inline-block;
}

/*========================= ESTILOS PARA LA HOJA DE VIDA ==========================*/

.contenedor-cv {
    border-radius: 5px;
    max-width: 1000px;
    width: 70%;
    margin: auto;
    background-color: #eee;
    padding: 40px;
    font-family: "Poppins", sans-serif;
    margin-top: 130px;
}

.contenedor-cv .nombre-foto {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00f
}

.contenedor-cv .nombre-foto .nombre-aspirante {
    font-size: 26px;
    font-weight: 700
}

.contenedor-cv .nombre-foto .imagen-aspirante {
    width: 100px;
    height: 100px;
    object-fit: cover
}

.contenedor-cv .profesion-perfil {
    padding: 10px 0px
}

.contenedor-cv .profesion-perfil .profesion {
    font-size: 16px;
    font-weight: 400;
    color: lightblue
}

.contenedor-cv .profesion-perfil .perfil-laboral {
    font-size: 13px
}

.contenedor-cv .contenedor-informacion {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.contenedor-cv .contenedor-informacion .encabezado {
    display: flex;
    width: 100%;
    height: 20px;
    line-height: 20px;
    align-items: center
}

.contenedor-cv .contenedor-informacion .icono-encabezado {
    font-size: 18px;
    margin-right: 10px
}

.contenedor-cv .contenedor-informacion .titulo-encabezado {
    font-size: 15px;
    color: #000;
    font-weight: 500
}

.contenedor-cv .contenedor-informacion .mt {
    margin: 10px 0px;
    padding: 10px 0px;
    border-top: 1px solid #aaa
}

.contenedor-cv .contenedor-informacion .df {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    line-height: 30px
}

.contenedor-cv .contenedor-informacion .estrellas {
    cursor: pointer
}

.contenedor-cv .contenedor-informacion .contenedor-w30 {
    width: 32%
}

.contenedor-cv .contenedor-informacion .contenedor-w30 .perfil {
    width: 100%
}

.contenedor-cv .contenedor-informacion .contenedor-w30 .perfil .datos-perfil {
    display: block
}

.contenedor-cv .contenedor-informacion .contenedor-w30 .perfil .datos-perfil .datos {
    margin-bottom: 5px
}

.contenedor-cv .contenedor-informacion .contenedor-w30 .perfil .datos-perfil .datos span {
    font-size: 14px;
    font-weight: 400
}

.contenedor-cv .contenedor-informacion .contenedor-w30 .perfil .datos-perfil .datos p {
    font-size: 12px;
    font-weight: 200
}

.contenedor-cv .contenedor-informacion .contenedor-w30 .habilidades {
    width: 100%
}

.contenedor-cv .contenedor-informacion .contenedor-w30 .habilidades .habilidad {
    width: 100%
}

.contenedor-cv .contenedor-informacion .contenedor-w70 {
    width: 64%
}

.contenedor-cv .contenedor-informacion .contenedor-w70 .educacion {
    width: 100%
}

.contenedor-cv .contenedor-informacion .contenedor-w70 .educacion .estudios-realizados .estudios {
    display: flex;
    justify-content: space-between
}

.contenedor-cv .contenedor-informacion .contenedor-w70 .educacion .estudios-realizados .estudios .fechas {
    display: block
}

.contenedor-cv .contenedor-informacion .contenedor-w70 .educacion .estudios-realizados .estudios .fechas p {
    font-size: 13px;
    font-weight: 200
}

.contenedor-cv .contenedor-informacion .contenedor-w70 .educacion .estudios-realizados .estudios .infor-estudios .entidad {
    font-size: 15px;
    font-weight: 400
}

.contenedor-cv .contenedor-informacion .contenedor-w70 .educacion .estudios-realizados .estudios .infor-estudios .programa {
    font-size: 13px;
    font-weight: 200
}

.contenedor-cv .contenedor-informacion .contenedor-w70 .experiencia-laboral {
    width: 100%
}

.contenedor-cv .contenedor-informacion .contenedor-w70 .experiencia-laboral .experiencia {
    display: flex;
    justify-content: space-between
}

.contenedor-cv .contenedor-informacion .contenedor-w70 .experiencia-laboral .experiencia .fechas {
    display: block
}

.contenedor-cv .contenedor-informacion .contenedor-w70 .experiencia-laboral .experiencia .fechas p {
    font-size: 13px;
    font-weight: 200
}

.contenedor-cv .contenedor-informacion .contenedor-w70 .experiencia-laboral .experiencia .informacion-experiencia {
    display: block
}

.contenedor-cv .contenedor-informacion .contenedor-w70 .experiencia-laboral .experiencia .informacion-experiencia .puesto {
    width: 100%;
    font-size: 15px;
    font-weight: 500
}

.contenedor-cv .contenedor-informacion .contenedor-w70 .experiencia-laboral .experiencia .informacion-experiencia .empresa {
    font-size: 13px;
    font-weight: 200
}

.contenedor-cv .contenedor-informacion .contenedor-w70 .experiencia-laboral .experiencia .informacion-experiencia ul {
    margin-left: 20px;
    font-size: 13px;
    font-weight: 200
}