/*Variables*/

:root {
  --fuenteQuicksand: 'Quicksand', sans-serif;
  --fondo: linear-gradient(rgba(84, 108, 207), rgba(213, 238, 254));
  --fuenteRoboto: 'Roboto', Arial, sans-serif;
  --hueso: #ebeaef;
  --bsoft: #daeefe;
  --cm: #97bbfe;
  --medium: #546ccf;
  --bdarck: #1e1e62;
  --bsb: #060d2f;
}

.body-con,
.body-vac {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--hueso);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  padding: 0 1.5em;
}


/*=================== CARD DE MOSTRAR ASPIRANTES =======================*/
.contenedor.card {
  margin-top: 100px;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.contenedor .contenedor-card {
  width: 320px;
  height: 400px;
  border-radius: 35px;
  margin-bottom: 30px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 3px gray;
}

.contenedor .contenedor-card .contenedor-card__header {
  width: 100%;
  background-color: var(--azulClaro);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.contenedor .contenedor-card .contenedor-card__padding {
  padding-top: 20px;
}

.contenedor .contenedor-card .contenedor-card__header .header-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid var(--border);
  border-right: 4px solid var(--azulMuyOscuro);
  border-top: 4px solid var(--azulOscuro);
  /* border-bottom: 4px solid var(--exito); */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor .contenedor-card .contenedor-card__header .header-img img {
  width: 90%;
  height: 90%;
}

.contenedor .contenedor-card .contenedor-card__header .header-name {
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

.contenedor .contenedor-card .contenedor-card__header .header-name h3 {
  color: #000;
  font-size: 18px;
  font-weight: 900;
}

.contenedor .contenedor-card .contenedor-card__header .header-name span {
  color: var(--azulOscuro);
  font-size: 14px;
  font-weight: 500;
}

.contenedor .contenedor-card .contenedor-card__body {
  width: 100%;
  padding: 30px;
  overflow-y: scroll;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--border);
}

.contenedor .contenedor-card .contenedor-card__body p {
  width: 100%;
  font-size: 12px;
  color: #000;
  font-weight: 400;
  text-align: center;
}

.contenedor .contenedor-card .contenedor-card__footer {
  text-align: center;
  width: 100%;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
}

.contenedor .contenedor-card .contenedor-card__footer a {
  display: block;
  color: #000;
  width: 90px;
  height: 30px;
  line-height: 29px;
  border-radius: 20px;
  font-size: 15px;
  background: linear-gradient(to bottom, var(--azulMuyClaro), var(--azulMasClaro));
  text-decoration: none;
  font-weight: 600;
  transition: 400ms background ease, 0.1s box-shadow ease-in-out;
}

.contenedor .contenedor-card .contenedor-card__footer a:hover {
  background: var(--azulMuyClaro);
  box-shadow: 3px 0px 30px #a3a3a3
}

/*======================== ESTILOS PARA CONTRATANTE  ===========================*/

.content {
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  margin-top: 100px;
}

.content-vacs {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.name {
  text-align: center;
  font-size: 2em;
  padding: .5em;
  font-family: var(--fuenteQuicksand);
}

.name span {
  color: #546ccf;
}

.content>* {
  padding: 1em;
}

.vac-form,
.con-form,
.req-form {
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 1);
  background: var(--hueso);
  border-radius: 0.2em;
}

.vac-form form,
.con-form form,
.req-form form {
  display: grid;
  grid-column: 1/3;
  font-family: var(--fuenteRoboto);
}

.vac-form form label,
.con-form form label,
.req-form form label{
  display: block;
}

.vac-form form .block textarea,
.con-form form .block textarea,
.req-form form .block textarea{
  max-width: 100%;
  min-width: 100%;
  min-height: 3em;
  max-height: 18em;
}

.vac-form form p,
.con-form form p,
.req-form form p {
  margin: 0;
  padding: 1em;
}

/*CSS PARA LOS ESPACIOS DE INGRESO DE INFORMACION */

.vac-form form button,
.con-form form button,
.vac-form form input,
.con-form form input,
.vac-form form select,
.vac-form form textarea,
.con-form form textarea,
.req-form form button,
.req-form form input,
.req-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  border-bottom: 2px solid var(--medium);
  outline: none;
  border-radius: 0.4em;
  color: var(--bdarck);
  font-family: var(--fuenteRoboto);
  font-size: 16px;
}

.vac-form form button,
.con-form form button,
.req-form form button {
  background: var(--bdarck);
  color: var(--bsoft);
  text-transform: uppercase;
  padding: 1em;
  border: none;
}

.vac-form form button:hover,
.con-form form button:hover,
.vac-form form button:focus,
.con-form form button:focus,
.req-form form button:hover,
.req-form form button:focus{
  background: var(--bsoft);
  color: var(--bdarck);
  border: none;
  transition: background-color 1s ease-out;
  outline: none;
}

@media (min-width: 630px) {

  .vac-form form,
  .con-form form,
  .req-form form{
    grid-template-columns: 1fr 1fr;
  }

  .vac-form form .block,
  .con-form form .block,
  .req-form form .block{
    grid-column: 1/3;
  }
}

@media (min-width: 426px) {
  body {
    padding: 0 4em;
  }

  .content>* {
    padding: 1em;
  }
}