*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
================================== ESTILOS PARA index.php =====================
*/

body {
    height: 100%;
    background: linear-gradient( rgba(84, 108, 207), rgba(218, 238, 254));
    font-family: 'Roboto';
    font-size: 16px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background: #1e1e62;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    color: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    font-family: 'Quicksand';
}

.nav_ico {
    display: inline-block;
    position: relative;
}

.nav_ico label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.nav_ico span {
    display: block;
    height: 4px;
    width: 30px;
    background: #fff;
    margin: 4px 0
}

.nav-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 998;
    background: transparent;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.nav-overlay.active {
    background: rgba(0, 0, 0, 0.7);
    pointer-events: auto;
}

#menu_trigger {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.close_icon {
    color: #fff;
    font-size: 60px;
    position: relative;
    position: absolute;
    left: 20px;
    top: 20px;
    line-height: 0.7;
    transform: rotate(45deg);
}

.close_icon input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    cursor: pointer;
}

.side_nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    background: #1e1e62;
    z-index: 1001;
    padding-top: 100px;
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
}

#menu_trigger:checked+.side_nav {
    transform: translateX(0%);
}

.side_nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.side_nav ul li {
    margin: 0;
}

.side_nav ul li a {
    display: block;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 12px 30px;
    border-bottom: 1px solid;
    transition: all 0.3s ease-in-out;
    font-family: Quicksand;
}

.side_nav ul li a:hover {
    background: #97bbfe;
    color: #fff;
}

.img-slider {
    position: relative;
    width: 1100px;
    height: 500px;
    margin: 10px;
}

.img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.img-slider .slide .img {
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

.img-slider .slide .info {
    position: absolute;
    top: 0;
    padding: 15px 30px;
}

.img-slider .slide .info h2 {
    color: white;
    font-size: 49px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: Quicksand;
}

.img-slider .slide p {
    color: white;
    background: rgba(0, 0, 0, 0.212);
    font-size: 19px;
    width: 68%;
    padding: 10px;
    border-radius: 4px;
    font-family: Roboto;
    position: absolute;
}

.img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: -40px;
    left: 78%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn {
    background: black;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .navigation .btn.active {
    background: #1e1e62;
    box-shadow: 0 0 2px rgb(12, 151, 140);
}

.text-white {
    padding-bottom: 10px;
}

footer {
    position: absolute;
    bottom: -40px;
    height: auto;
    width: 100%;
    color: #fff;
    font-family: Quicksand;
}

.footer-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}