:root {
    --fuenteQuicksand: 'Quicksand', sans-serif;
    --fuenteRoboto: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
================================== ESTILOS PARA index.php =====================
*/

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient( rgba(84, 108, 207), rgba(218, 238, 254));
    font-family: var(--fuenteRoboto);
    font-size: 16px;
    margin: 0;
}

.img-slider {
    position: relative;
    width: 1100px;
    height: 500px;
    margin: 10px;
}

.img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.img-slider .slide .img {
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

.img-slider .slide .info {
    position: absolute;
    top: 0;
    padding: 15px 30px;
}

.img-slider .slide .info h2 {
    color: white;
    font-size: 49px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: var(--fuenteQuicksand);
}

.img-slider .slide p {
    color: white;
    background: rgba(0, 0, 0, 0.212);
    font-size: 19px;
    width: 68%;
    padding: 10px;
    border-radius: 4px;
    font-family: var(--fuenteRoboto);
    position: absolute;
}

.img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: -40px;
    left: 78%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn {
    background: black;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .navigation .btn.active {
    background: #1e1e62;
    box-shadow: 0 0 2px rgb(12, 151, 140);
}

.text-white {
    padding-bottom: 10px;
}

footer {
    position: absolute;
    bottom: -40px;
    height: auto;
    width: 100%;
    color: #fff;
    font-family: var(--fuenteQuicksand);
}

.footer-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/* ======================== ESTILOS PARA EL REGISTRO  ===========================*/

/*form styles*/

#msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/

#msform input, #msform textarea, #msform select {
    padding: 15px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--fuenteRoboto);
    color: #2C3E50;
    font-size: 16px;
    padding-right: 32px;
}

#spanMostrar {
    bottom: 16px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    width: 100%;
    z-index: 10;
    top: 150px;
    right: 45px;
}

.form-clear .material-icons {
    font-size: 24px;
    position: absolute;
    top: 0px;
    right: 0px!important;
}

#spanMostrar {
    width: 25px;
    height: 25px;
}

/*buttons*/

#msform .action-button {
    width: 100px;
    background: #1e1e62;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 10px 5px;
    margin: 5px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #546ccf;
}

/*headings*/

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

/*progressbar connectors*/

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/

/*The number of the step and the connector before it = green*/

#progressbar li.active:before, #progressbar li.active:after {
    background: #1e1e62;
    color: white;
}

/*-------------------------------------- CÓDIGO DE LA IMAGEN -------------------------------------*/

.prevPhoto {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    position: relative;
    cursor: pointer;
    margin: auto;
  }
  .prevPhoto label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .prevPhoto .prevPhoto__img,  .prevPhoto .prevPhoto__img img{
    width: 100%;
    height: 100%;
  }
  .upimg,
  .notBlock {
    display: none !important;
  }
  .errorArchivo {
    font-size: 16px;
    font-family: arial;
    color: #cc0000;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }
  .delPhoto {
    color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: red;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 10;
  }
  #tbl_list_productos img {
    width: 50px;
  }
  .imgProductoDelete {
    width: 175px;
  }