/*
    * Aqui van el cs que se van a utilizar en todos los archivos
    * del programa
*/

:root {
    --colorFondo: #111;
    --colorFondoNavbar: #222;
    --sombraForm: 10px 10px 20px rgba(0, 0, 0, 0.16);
    --colorIconosFuente: #c8c8c8;
    --azulMuyClaro: #daeefe;
    --azulClaro: #97bbfe;
    --azulMasClaro: #546ccf;
    --blanco: #fff;
    --fuenteQuicksand: 'Quicksand', sans-serif;
    --fuenteRoboto: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body.dark,
body {
    transition: background 0.4s linear, transform 0.4s linear
}

.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

/*========================= NAVBAR 2 =========================*/

body#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuenteRoboto);
    flex-wrap: wrap;
}

/*Menu*/

#header_menu,
.menu_header {
    width: 100%;
    height: 65px;
    background: rgba(0, 0, 0, 0.09);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#header_menu .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#header_menu .barra .content-logo,
#header_menu .barra .content_logo_menu {
    text-decoration: none;
    font-size: 27px;
    font-weight: 900;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_header .barra .content-logo .logo,
#header_menu .barra .content-logo .logo-empresa {
    width: 100%;
    height: 70%;
    object-fit: cover;
    margin-right: 8px;
}

#header_menu .barra .content-logo #icono-reponsive,
#header_menu .barra .content_logo_menu #icono-reponsive {
    display: none;
    color: #fff;
}

#header_menu .barra .content-logo #icono-regresar,
#header_menu .barra .content_logo_menu #icono-regresar {
    margin-right: 20px;
    color: #fff;
}

#header_menu .barra .content-logo #icono-regresar:hover,
#header_menu .barra .content_logo_menu #icono-regresar:hover {
    color: #ff5d94;
}

#header_menu .barra .nav {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#header_menu .barra .nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
}

#header_menu .barra .nav a i {
    width: 100%;
    margin-bottom: 5px;
}

#header_menu .barra .nav a:hover {
    color: #555;
    font-weight: 600;
    border-bottom: 2px solid var(--border);
}

#header_menu .barra .nav a.active {
    font-weight: 700;
    font-size: 17px;
    border-bottom: 4px solid var(--border);
}

#header_menu .contenedor-responsive {
    display: none;
    width: 250px;
    min-height: 100vh;
    position: absolute;
    left: 0;
    background: var(--azulMuyClaro);
}

#header_menu .contenedor-responsive.active {
    display: block;
    transition: 500ms display linear;
}

#header_menu .contenedor-responsive ul li {
    list-style: none;
    padding: 10px 20px;
    border-bottom: 1px solid var(--azulMuyOscuro);
    cursor: pointer;
}

#header_menu .contenedor-responsive ul li:hover {
    background-color: rgba(163, 163, 163, 0.4);
}

#header_menu .contenedor-responsive ul li a {
    text-decoration: none;
    color: var(--azulOscuro);
}

/*========================= MODO OSCURO =========================*/

body.dark,
.dark .section-welcome,
.dark .section-aspirantes,
.dark .section-contratante,
.dark .section-contratante-info,
.dark .slider-img {
    background: var(--colorFondo);
}

.switch {
    width: 45px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    outline: none;
    position: relative;
    background: darkblue
}

.switch .circulo {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    position: absolute;
    top: -3.5px;
    left: -3.5px;
    right: unset;
    background-color: #fff;
    box-shadow: 0px 0px 2px 3px lightblue;
    transition: background 0.4s, transform 0.4s, color 0.4s ease-out
}

.switch i {
    width: 27px;
    height: 27px;
    display: flex;
    margin-left: -3px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100
}

.switch i.sol {
    font-size: 20px;
    color: orange
}

.switch i.luna {
    font-size: 12px;
    color: #fff
}

.switch.active {
    background-color: orange;
    outline: none;
    border: none;
}

.switch.active .circulo {
    transform: translateX(24px);
    background-color: #000
}

.switch.active .sol {
    font-size: 12px;
    color: #fff;
    background-color: none
}

.switch.active .luna {
    font-size: 20px;
    color: #fff
}

/*EDIER*/
.dark #header_menu {
    background-color: var(--colorFondoNavbar);
    box-shadow: var(--sombraForm);
}

.dark #header_menu .barra .content-logo #icono-reponsive,
.dark #header_menu .barra .content-logo #icono-regresar,
.dark #header_menu .barra .content-logo .logo-nombre h2,
.dark #header_menu .barra .nav a,
.dark .info-persona h3,
.dark .info-persona ul li i,
.dark #header_menu .barra .nav .content-search #icon-search,
.dark .contenedor .contenedor-card .contenedor-card__header .header-name span {
    color: var(--colorIconosFuente);
    opacity: 1;
}

.dark #header_menu .barra .nav a:hover {
    color: #cecece;
}

.dark .info-persona,
.dark .info-persona::before {
    background-color: var(--colorFondoNavbar);
}

.dark .info-persona ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
}

.dark .info-persona ul li a,
.dark .contenedor .contenedor-card .contenedor-card__header .header-name h3,
.dark .contenedor .contenedor-card .contenedor-card__body p,
.dark .section-welcome .section-welcome__welcome .list_categories li {
    color: var(--blanco);
}

.dark .header,
.dark .menu_header {
    background: var(--colorFondoNavbar);
    box-shadow: var(--sombraForm);
}

.dark .side_nav {
    background: var(--colorFondoNavbar);
    box-shadow: var(--sombraForm);
}

.dark .contenedor-formulario .wrap .form .pagina .contenedor-form,
.dark .contenedor,
.dark .section-aspirantes .section-aspirante__card .card,
.dark .section-contratante .section-contratante__aspirante,
.dark .section-contratante .section-contratante__contratante,
.dark .section-contratante-info .section-info__contratante .section-contratante-info__info,
.dark .section-contratante-info .section-info__contratante .section-contratante-search {
    background: var(--colorFondoNavbar);
    box-shadow: var(--sombraForm);
}

.dark .contenedor-formulario .wrap .form .pagina .contenedor-form .title-form,
.dark .contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo label,
.dark .contenedor-formulario header .title-principal,
.dark .contenedor-formulario header .progress-bar .paso p,
.dark .section-welcome .section-welcome__welcome .welcome-title h2,
.dark .section-aspirantes h2,
.dark .section-contratante h2,
.dark .section-contratante-info h2 {
    color: var(--colorIconosFuente);
}

.dark .contenedor-formulario header .progress-bar .paso .num {
    color: var(--colorIconosFuente);
    border: 2px solid #fff;
}

.dark .contenedor-formulario header .progress-bar .paso .num.active {
    border: 2px solid var(--azulMasClaro);
}

.dark .contenedor-formulario header .progress-bar .paso .num::before,
.dark .contenedor-formulario header .progress-bar .paso .num::after {
    content: "";
    background: var(--colorFondoNavbar);
    position: absolute;
    width: 85px;
    height: 4px;
    top: 50%;
    left: 50px
}

.dark .contenedor-formulario header .progress-bar .paso p.active {
    color: var(--azulClaro);
}

.dark .contenedor-formulario header .progress-bar .paso .num.active::after {
    animation: mov_Linea 0.4s linear forwards;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(var(--colorIconosFuente), #fff);
}

.dark .contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-idioma .estrellas .puntuacion,
.dark .contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-habilidad .estrellas .puntuacion {
    color: var(--colorIconosFuente);
}

.dark .contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-idioma .estrellas .puntuacion.active,
.dark .contenedor-formulario .wrap .form .pagina .contenedor-form .contenedor-grupo#grupo-habilidad .estrellas .puntuacion.active {
    color: orange
}

/*card de mostrar los aspirantes*/
.dark .contenedor .contenedor-card {
    background-color: var(--colorFondoNavbar);
}

/*BECERRA*/

.dark .vac-form,
.dark .con-form,
.dark .from-logi,
.dark #msform fieldset {
    background: var(--colorFondoNavbar);
    box-shadow: var(--sombraForm);
}

.dark .name,
.dark .from-logi h5,
.dark .from-logi a,
.dark .fs-title {
    color: var(--blanco);
}

.dark .name span {
    color: var(--azulMasClaro);
}

.dark .vac-form form label,
.dark .con-form form label,
.dark .fs-subtitle {
    color: var(--colorIconosFuente);
}

.dark .vac-form form button,
.dark .con-form form button,
.dark .vac-form form input,
.dark .con-form form input,
.dark .vac-form form select,
.dark .vac-form form textarea,
.dark .con-form form textarea {
    border-bottom: 2px solid var(--azulMuyClaro);
    color: var(--blanco);
    font-size: 16px;
    font-family: var(--fuenteRoboto);
}

.dark .vac-form form select {
    background-color: var(--colorFondoNavbar);
}

.dark .con-form form button,
.dark .vac-form .block button {
    color: #000;
    font-weight: 700;
}

.dark .con-form form button:hover,
.dark .vac-form .block button:hover {
    color: var(--blanco)
}

.dark .ql-toolbar.ql-snow {
    background: var(--blanco);
    color: var(--colorFondo);
}

/*LUISA*/
.dark .img-slider .slide .info h2 {
    color: #fff;
}

.dark .img-slider .slide p {
    color: #fff;
}

.dark .contenedor-perfil_aspirante {
    background-color: var(--colorFondoNavbar);
    color: var(--colorIconosFuente);
}

.dark .img-slider .navigation .btn.active {
    background: var(--colorIconosFuente);
    box-shadow: 0 0 2px rgb(12, 151, 140);
}

.dark .footer-index {
    background: var(--colorFondoNavbar);
    color: var(--blanco);
}

.dark #msform .action-button:hover {
    box-shadow: 0px 0px 10px rgba(163, 163, 163, 0.4);
}

/*YESENIA*/

.dark .from-logi {
    border: 0px 0px 10px rgba(163, 163, 163, 0.4);
}

.dark .boton_3:hover {
    text-shadow: 0px 0px 10px rgba(163, 163, 163, 0.4);
}

.dark #FormPerfilCon {
    background-color: var(--colorFondoNavbar);
    color: var(--colorIconosFuente);
}

.dark .btn-reset {
    background-color: var(--azulMuyClaro);
}