#template-1,
.template-1 {
  display: none !important;
}

.resume-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.025);
}
.resume-section-heading {
  position: relative;
  padding-left: 1rem;
  font-size: 1.125rem;
  letter-spacing: 0.15rem;
  color: #54b689;
}
.resume-section-heading:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 100%;
  background: #aab4c3;
  position: absolute;
  left: 0;
  top: 0;
}
.resume-name {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
  color: #54b689;
}
.resume-tagline {
  font-size: 1.1rem;
  font-weight: 300;
}
.resume-contact {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 0.75rem;
}
a.resume-link {
  color: #4f4f4f;
}
a.resume-link:hover {
  color: #54b689;
}
.resume-profile-image {
  max-width: 120px;
}
.resume-intro {
  font-size: 0.875rem;
}
.resume-main .item-title {
  font-size: 1rem;
}
.resume-main .item-meta {
  font-size: 0.75rem;
}
.resume-main .item-content {
  font-size: 0.875rem;
}
.resume-aside {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}
.resume-aside .item {
  font-size: 0.875rem;
}
.resume-aside .item-title {
  font-size: 1rem;
}
.resume-education-list,
.resume-awards-list {
  font-size: 0.875rem;
}
.resume-degree-time-org,
.resume-degree-time {
  font-size: 0.75rem;
}
.resume-lang-list,
.resume-interests-list {
  font-size: 0.875rem;
}
.resume-social-list {
  font-size: 0.75rem;
}
.fa-heart {
  color: #fb866a;
}
@media (max-width: 991.98px) {
  .resume-aside {
    border-left: 0;
  }
}
@media (max-width: 767.98px) {
  .resume-contact {
    border-left: 0;
  }
}
